
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel = "stylesheet" href ={% static "calcapp/css/bootstrap.css"%}>
</head>
<body><nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
            <a href="{% url 'index_view' %}">Home</a>
            <a href="{% url 'user_create_view' %}">Create user</a>
            <a href="{%url 'logout_view'%}?next=/">Logout</a>
            <a href="{%url 'profile_view'%}">Profile</a>
            <a href="{% url 'app_view'%}">Use the Calculator</a>

    {% block content %}

    {% endblock %}
</div>
<br>
<br>
<br>

</body>
</html>
