{% extends 'base.html' %}

{% block content %}
<br>
<br>
<h3>Welcome to the on the fly calculator</h3>
<h5>These calculations will not be saved</h5>

<h2>Calculator</h2>
<br>
<form action='' method="post">
{% csrf_token %}
<input type="number"  name='left'>
<br>
<br>
<select name="operators">
<option value="add">+</option>
<option value="subtract">-</option>
<option value="multiply">*</option>
<option value="divide">/</option>
</select>
<br>
<br>
<input type="number"  name='right'>
<input type="submit" value="Submit!">
<br>
<h4>Your total:</h4>
<br>
<br>
{{ total }}
</form>


{% endblock %}
